body {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron h1 {
  color: #3A727F;
}

h2 {
  color: #3A727F;
  font-weight: bold;
}

#about span {
  font-size: .9em;
  float: right;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 1em;
}

.container-fluid:not(#navcontainer){
  padding-top: 40px;
  padding-bottom: 40px;
}

.header {
  text-align: center;
}

a {
  color: #1E1170;
}

a:visited {
  color: #184582;
}

a:hover, a:active {
  color: #44369E;
}

.header img{
  max-width: 250px;
  display: block;
  margin: 0 auto;
  border: solid 4px #3A727F;
}

.row {
  margin: 0 auto;
}

.row > [class*='col-']{
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.repolink {
  text-align: right;
  font-weight: bold;
}

.footer {
  text-align: center;
  font-size: x-small;
}

#about p {
  font-size: medium;
}

#about .social {
  font-size: 6rem;
  text-align: center;
  margin-top: 4rem;
  width: 100%;
}

/*** colors/other utility css ***/

.glow {
  text-shadow: white 0 0 10px;
}

.light-back {
  background-color: #EDEFF7;
}

.med-back {
  background-color: #C9CFE4;
}

.dark-back {
  background-color: #9CA6C9;
}

.ooze-back {
  background-color: thistle;
}

.peru-back{
  background-color: white;
}

.tic-back {
  background-color: #AFB8D7;
}

.sim-back {
  background-image: url(../img/pool-sm.png);
  background-repeat: repeat;
  color: white;
}

.cat-back {
  background-color: #e6e6e6;
}

.quote-back {
  background-color: #51b46d;
}

.gradient {
  background: #62C4AE;
  background: -webkit-linear-gradient(white, #6E7BA9);
  background: -o-linear-gradient(white, #6E7BA9);
  background: -moz-linear-gradient(white, #6E7BA9);
  background: linear-gradient(white, #6E7BA9);
}


/*********Media Queries********/
@media screen and (min-width: 768px){
  .row.match-my-cols{
    display: flex;
    flex-wrap: wrap;
  }

  .row.match-my-cols > [class*='col-']{
    display: flex;
    flex-direction: column;
  }

  .repolink {
    margin-top: auto;
  }
}


@media screen and (min-width: 992px) {
  body {
    margin-top: 100px;
  }

  .header img{
    width: 300px;
    max-width: 300px;
  }

  .header {
    padding-top: 20px;
  }

  .header h1{
    margin-top: 150px;
  }

  .container-fluid .jumbotron {
    padding-right: 0;
    padding-left: 0;
  }

  .container-fluid:not(#navcontainer){
    margin-bottom: 3rem;
  }

  #portfolio h3 {
    font-size: 2rem;
  }

}
